/home-work/data
/.ipynb_checkpoints
home-work/.ipynb_checkpoints/HLP_AvoidableBias_Assignment_RU_EN-checkpoint.ipynb
home-work/.ipynb_checkpoints/assignment_orthogonalization_with_penalty-checkpoint.ipynb
.ipynb_checkpoints/orthogonalization_student_practice-checkpoint.ipynb
home-work/.ipynb_checkpoints/Transfer_Learning_Assignment-checkpoint.ipynb
